fastapi
uvicorn
groq
python-dotenv
torch==2.2.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.7.0
pydantic
langgraph
langchain
langchain-groq
langchain-core
qdrant-client
fastembed
